<md-toolbar class="md-whiteframe-z3-opposite">
    <div class="md-toolbar-tools" layout="row" layout-align="center center">
        <md-button aria-label="Github"
            href="https://github.com/ProtaconSolutions/badge-frontend"
            target="_blank"
        >
            <i class="mdi mdi-github-circle"></i>

            GitHub
        </md-button>

        <md-button aria-label="Issues"
            href="https://github.com/ProtaconSolutions/badge-frontend/issues"
            target="_blank"
        >
            <i class="mdi mdi-bug"></i>

            Issues
        </md-button>

        <md-button aria-label="Protacon Solutions"
            href="https://github.com/ProtaconSolutions"
            target="_blank"
        >
            <i class="mdi mdi-human"></i>

            Protacon Solutions
        </md-button>
    </div>
</md-toolbar>
