<md-toolbar class="md-whiteframe-z3">
    <div class="md-toolbar-tools">
        <md-list-item>
            <md-button class="hide-gt-md md-icon-button md-button md-ink-ripple" aria-label="Toggle menu"
                data-ng-click="vm.toggleSideMenu()"
            >
                <i class="md-title mdi mdi-menu"></i>
            </md-button>

            <md-button class="md-title" aria-label="Badges">
                <a href="/">Talking Head</a>
            </md-button>
        </md-list-item>

        <!-- fill up the space between left and right area -->
        <span flex></span>
    </div>
</md-toolbar>
